<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/public.css">
    <link rel="stylesheet" href="../stylesheets/download.css">
</head>
<body>
<div id="container">
    <div id="header">
        <div class="logo">
            <img src="/imgs/logo.png" alt="logo">
        </div>
        <div class="h_title">
            <img src="/imgs/title.png" alt="">
        </div>
        <div class="user">
            <img src="/imgs/user.png" alt="">
        </div>
    </div>
    <div id="main">
        <div id="main_content">
            <div class="main_left">
                <div class="xiazai">
                    <div class="download">
                        <p>文件名：</p>
                        <p>文件下载链接：</p>
                        <p>扫描二维码进行下载：</p>
                    </div>
                    <div class="down_but">
                        <button>下载文件</button>
                        <button>删除文件</button>
                    </div>
                </div>
            </div>
            <div class="main_right">
                <img src="/imgs/download.png" alt="">
            </div>
        </div>
    </div>
    <div id="footer">

    </div>
</div>
</body>
</html>