<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
    <script src="./javascripts/lib/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="logo">
                <img src="../images/logo.png" alt="logo">
            </div>
            <div class="h_title">
                <img src="../images/title.png" alt="">
            </div>
            <div class="user">
                <img src="../images/user.png" alt="" >
                <a href = <%=home_url %> id="login"><%=username %></a>
            </div>
        </div>
        <div id="main">
            <div id="nav">
                <ul>
                    <li class="nav_li">
                        <a href=""><div class="nav_ziti">文件转换</div></a>
                    </li>
                    <li class="nav_li">
                        <a href=""><div class="nav_ziti">历史转换记录</div></a>
                    </li>
                </ul>
            </div>
            <div id="main_content">
                <div class="main_left">
                    <img src="../images/Pdf to epub.png" alt="">
                    <div class="zhuanhuan">
                        <!-- <input type="file" /> -->
<!--                        <button class="choose_file">-->
<!--                            选择文件-->
<!--                        </button>-->
                            <p>请选择你需要转化的文件</p>
                        <form id="uploadForm" enctype="multipart/form-data" >
                            <input id="pdfFile" type="file" name="pdfFile" class="choose_file"/>
                        </form>
                        <button id="upload">上传文件</button>
                    </div>
                </div>
                <div class="main_right">
                    <img src="../images/files.png" alt="">
                </div>
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>
<script src = "./javascripts/home.js" type="module"></script>
</html>