<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/public.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/register.css">
    <script src="./javascripts/lib/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div class="logo">
                <img src="./images/logo.png" alt="logo">
            </div>
            <div class="h_title">
                <img src="./images/title.png" alt="">
            </div>
            <div class="user">
                <img src="./images/user.png" alt="">
            </div>
        </div>
        <div id="main">
<!--            <div id="nav">-->
<!--                <ul>-->
<!--                    <li class="nav_li">-->
<!--                        <a href="/home"><div class="nav_ziti">文件转换</div></a>-->
<!--                    </li>-->
<!--                    <li class="nav_li">-->
<!--                        <a href="/user"><div class="nav_ziti">历史转换记录</div></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <div id="main_content">
                <div class="main_left">
                    <img src="./images/register.png" alt="">
                    
                </div>
                <div class="main_right">
                    <div class="form1">
                        <h1>创建一个账号</h1>
                        <p>PDF to epub 文件转换工具</p>
                        <form  form >
                            <!-- <div class="re_form"> -->
                            <input type="text" class='input1' id="email" placeholder="email">
                             <!-- <input type="text" class='input1' name="email" placeholder="email"> -->
                             <input class='input1' id="password" placeholder="password" type="password">
                             <input class='input1' id="re_password" placeholder="re_password" type="password">
                             <!-- </div> -->
                            <input  class="sub_button" value="注册" id="btnRegister">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="footer">

        </div>
    </div>
</body>

<script src = "./javascripts/register.js" type="module"></script>

</html>