<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI</title>
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="jqueryui/style.css">
    <style>
        img { width: 200px; height: 200px; }

    </style>
    <script>
        $(function() {
            // 运行当前选中的特效
            function runEffect() {
                // 从中获取特效类型
                var selectedEffect = $( "#effectTypes" ).val();

                // 大多数的特效类型默认不需要传递选项
                var options = {};
                // 一些特效带有必需的参数
                if ( selectedEffect === "scale" ) {
                    options = { percent: 0 };
                } else if ( selectedEffect === "size" ) {
                    options = { to: { width: 200, height: 60 } };
                }
                // 运行特效
                $( "#effect" ).hide( selectedEffect, options, 1000, callback );
            };

            // 回调函数
            function callback() {
                setTimeout(function() {
                    $( "#effect" ).removeAttr( "style" ).hide().fadeIn();
                }, 1000 );
            };
            // 根据选择菜单值设置特效
            $( "#button" ).click(function() {
                runEffect();
                return false;
            });


        });
    </script>
</head>
<body>


    <div id="effect" class="ui-widget-content ui-corner-all">
        <img src="/public/images/files.png" >
    </div>
    <img src="/public/images/logo.png">

<select name="effects" id="effectTypes">
    <option value="blind">百叶窗特效（Blind Effect）</option>
    <option value="bounce">反弹特效（Bounce Effect）</option>
    <option value="clip">剪辑特效（Clip Effect）</option>
    <option value="drop">降落特效（Drop Effect）</option>
    <option value="explode">爆炸特效（Explode Effect）</option>
    <option value="fold">折叠特效（Fold Effect）</option>
    <option value="highlight">突出特效（Highlight Effect）</option>
    <option value="puff">膨胀特效（Puff Effect）</option>
    <option value="pulsate">跳动特效（Pulsate Effect）</option>
    <option value="scale">缩放特效（Scale Effect）</option>
    <option value="shake">震动特效（Shake Effect）</option>
    <option value="size">尺寸特效（Size Effect）</option>
    <option value="slide">滑动特效（Slide Effect）</option>
</select>

<a href="#" id="button" class="ui-state-default ui-corner-all">运行特效</a>


</body>
</html>